---
const personalImageAlt = "Iván Manceras Miranda"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      Me llamo Iván Manceras Miranda y empecé con la programación en 2020 tras cursar durante un año el primer curso del Grado en Ingeniería Telemática en la Escuela Técnica Superior de Ingeniería de Telecomunicación de la UMA donde decidí orientar mis estudios hacia un camino más acorde a mis intereses. Durante ese proceso de cambio, continué formándome.
      <br>
      <br>
      Posteriormente, aproveché ese tiempo extra para formarme de forma autodidacta en tecnologías como HTML, CSS, JavaScript, GIT, y lenguajes como Java, motivado por mi curiosidad y el apoyo de creadores de contenido como Brais Moure, Midudev o Víctor Robles.
      <br>
      <br>
      Con el objetivo de impulsar mi carrera profesional, en septiembre de 2023 inicié el Bootcamp Full Stack Web Development en CODE SPACE ACADEMY (Málaga), que completé con éxito en abril de 2024. Esta formación me ha permitido mejorar significativamente como profesional. Actualmente, he complementado mi perfil finalizando el Grado Superior en Desarrollo de Aplicaciones Web (DAW) en DigitechFP, con el fin de ampliar mi formación y obtener una titulación oficial que respalde mi incorporación al mercado laboral, en el cual me he graduado actualmente a fecha de junio de 2025 y ya habiendo completado mis prácticas laborales. 
      <br>
      <br>
      Actualmente
      <strong>
        tengo tres meses de experiencia laboral en Empacthy, gracias al bootcamp fullstack web de CODE SPACE ACADEMY que finalicé en abril de 2024, y en junio de 2025 me he graduado en el Grado Superior de Desarrollo de Aplicaciones Web en DigitechFP.
      </strong>
        Y a la espera de comenzar las prácticas en dicho centro.
    </p>

    <p>
      Algunos de mis logros incluyen 
      <strong>
        haber participado, en equipo, en la creación desde cero de un MVP totalmente funcional para la empresa Empacthy.
      </strong> 
      Además, cuento con proyectos personales e independientes donde practico mis habilidades y libero mi creatividad. Asisto regularmente a eventos importantes del sector —los cuales tengo destacados en mi perfil de LinkedIn— y me mantengo en constante formación, aprendiendo día a día sobre las últimas novedades tecnológicas mediante cursos y estudios autodidactas.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>

